/* This is a CSS comment */ 
    h1:hover {
      color: red;
      font-family:cursive;
    }

    h2:hover {
      color: orange;
      font-size: 2em;
    }

    li{
      font-style: italic;
    }

    .ancient{
      font-style:italic;
      font-weight: 700;
      font-size: 1.5em;
      color:brown;
    }

    a {
      text-decoration:none;
    }
    
    header{
      width:75%;
      margin:auto;
    }
    
    article{
      width:75%;
      margin:auto;
    }
    
    footer{
      border:1px solid red;
      border-radius:20px;
    }