/* This is a CSS comment */ 
    h1:hover {
      color: red;
    }
    
    a {
      text-decoration:none;
    }
    
    header{
      width:75%;
      margin:auto;
    }
    
    article{
      width:75%;
      margin:auto;
    }
    
    footer{
      border:1px solid red;
      border-radius:20px;
    }